@import url(https://fonts.googleapis.com/earlyaccess/myanmarsanspro.css);

html, body {
	background: rgb(234, 234, 234);
	height: 100%;
  margin: 0px 50px;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 10px 0px;
}
.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.box .row {
  /*border: 1px dotted grey;*/
}
.box .row.header {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}
.box .row.content {
  flex: 1 1 auto;
}
.box .row.footer {
  flex: 0 1 10px;
  font-size: 12px;
}


body, input, textarea, keygen, select, button, .w2ui-reset, .w2ui-reset table tr th, .w2ui-reset table tr td, .w2ui-grid .w2ui-grid-header,
.w2ui-reset input:not([type=button]):not([type=submit]):not([type=checkbox]):not([type=radio]), .w2ui-reset select, .w2ui-reset textarea {
	font-size: 14px;
	font-family: 'Myanmar Sans Pro', Consolas, sans-serif;
}
.w2ui-overlay > div {
  border: 2px solid #777777;
}
.w2ui-overlay .w2ui-grid-searches {
  border-top: 2px solid #777777 !important;
}
.w2ui-field > label {
	margin-top: 10px;
}